html {
  font-family: 'GFS Didot';
  line-height: 1.6;
}

#welcome {
  background-color: rgb(241, 227, 224);
    padding: 50px;
    font-family: 'GFS Didot';
}

#coverpic {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.introduction {
    text-align: center;
    padding: 70px;
    line-height: 1.6;
}

.vogue {
    text-align: center;
    padding: 70px;
    line-height: 1.6;
    background-color: rgb(225, 204, 184);
}

#vogueTable {
  margin-left: auto; 
  margin-right: auto;
  border-color: 1px solid black;
  border-radius: 8px;
  line-height: 1.6;
}

#vogueTable td {
    text-align: left;
      border: 1px solid black;
}

.filler {
  text-align: center;
  padding: 70px;
  line-height: 1.6;
}


/*section{
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
    background-size: cover;
	height: 50%; 
} */
.scrollBg {
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment:fixed;
  background-size: contain;
  object-position: top;
  width: auto;
  height: 100vh;
  margin: 0;
} 

.img-1{
background-image: url("../resources/plusmodel.webp");
}
.img-2{
	background-image: url("../resources/queermodel.webp");
}
.img-3{
	background-image: url("../resources/oldmodel.jpeg");
}


#bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: auto;
  padding: 20px;
  text-align: center;
  /*to prevent the words from showing in this draft*/
  visibility:hidden;
}

.polaroid {
  width: 20%;
  background-color: rgb(187, 118, 83);
  box-shadow: 0 4px 8px 0 rgb(0,0,1), 0 6px 20px 0 rgb(0, 0, 0);
  margin-bottom: 25px;
  width:100%;
  display: inline-block;
}

.caption {
  text-align: center;
  padding: 10px 20px;
}

.race {
  background-color: rgb(198, 165, 115);
  text-align: center;
  padding: 50px;
  font-family: 'GFS Didot';
  color: white
}
#raceTitle{
  letter-spacing: 5px;
}

.age {
  background-color: rgb(134, 0, 83);
  text-align: center;
  padding: 50px;
  font-family: 'GFS Didot';
  color: white
}
#ageTitle{
  letter-spacing: 5px;
}

.plusSize {
  background-color: rgb(139, 51, 53);
  text-align: center;
  padding: 50px;
  font-family: 'GFS Didot';
  color: white
}
#plusSizeTitle{
  letter-spacing: 5px;
}

.nonBinary {
  background-color: rgb(128, 74, 115);
  text-align: center;
  padding: 50px;
  font-family: 'GFS Didot';
  color: white
}
#nonBinaryTitle{
  letter-spacing: 5px;
}


.conclusion {
  text-align: center;
  padding: 70px;
  line-height: 1.6;
}