html {
  font-family: 'GFS Didot';
  line-height: 1.6;
}

#welcome {
  background-color: rgb(241,195,187);
    padding: 50px;
    font-family: 'GFS Didot';
}

#coverpic {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.introduction {
    text-align: center;
    padding: 70px;
    line-height: 1.6;
}

#marieAntoinetteTable {
  padding: 10px;
  border-color: 1px solid black;
}

.vogue {
    text-align: center;
    padding: 70px;
    line-height: 1.6;
    /*background-color: rgb(199,198,196)*/
}

#vogueTable {
  margin-left: auto; 
  margin-right: auto;
  /*border-color: 1px solid black;*/
  border-radius: 8px;
  line-height: 1.6;
}

#vogueTable td {
    text-align: left;
      /*border: 1px solid black;*/
}

.filler {
  text-align: center;
  padding: 70px;
  line-height: 1.6;
}


/*section{
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center;
    background-size: cover;
	height: 50%; 
} */
.scrollBg {
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment:fixed;
  background-size: contain;
  object-position: top;
  width: auto;
  height: 100vh;
  margin: 0;
} 

.img-1{
background-image: url("../resources/plusmodel.webp");
}
.img-2{
	background-image: url("../resources/queermodel.webp");
}
.img-3{
	background-image: url("../resources/oldmodel.jpeg");
}

#scroll1 {
  position: sticky;
  align-items: center;
  background: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: rgb(127, 82, 15);
  font-weight: bold;
  font-size: 80px;
  width: 450px;
  top: 0; left: 50%;
    margin-left: -280px; /* 505 / 2 */
  height: 100px;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #f1f1f1;
  box-shadow: 0 0 6px #000;
  color: #fff;
}

/*#bg-text {
  background-color: rgb(0,0,0); /* Fallback color 
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through 
  color: rgb(127, 82, 15);
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: sticky; /* Stay fixed 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: auto;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  /*to prevent the words from showing in this draft
}*/

table{
  margin-left: auto;
  margin-right: auto;
}
.polaroid {
  width: 20%;
  background-color: rgb(255,255,255);
  box-shadow: 0 4px 8px 0 rgb(100, 100, 104), 0 6px 20px 0 rgb(119, 110, 110);
  margin-bottom: 25px;
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
  padding: 10px 20px;
}

.race {
  background-color: rgb(241,195,187);
  /*background-color: rgb(198, 165, 115);*/
  text-align: center;
  padding: 50px;
  font-family: 'GFS Didot';
  color: rgb(0,0,0);
}

#raceTitle{
  letter-spacing: 5px;
}

.age {
  background-color: rgb(241,195,187);
  /*background-color: rgb(134, 0, 83);*/
  text-align: center;
  padding: 50px;
  font-family: 'GFS Didot';
  color: rgb(0,0,0);
}
#ageTitle{
  letter-spacing: 5px;
}

.plusSize {
  background-color: rgb(241,195,187);
  /*background-color: rgb(139, 51, 53);*/
  text-align: center;
  padding: 50px;
  font-family: 'GFS Didot';
  color: rgb(0,0,0);
}
#plusSizeTitle{
  letter-spacing: 5px;
}

.nonBinary {
  background-color: rgb(241,195,187);
  /*background-color: rgb(128, 74, 115);*/
  text-align: center;
  padding: 50px;
  font-family: 'GFS Didot';
  color: rgb(0,0,0);
}
#nonBinaryTitle{
  letter-spacing: 5px;
}


.conclusion {
  text-align: center;
  padding: 70px;
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 3px;
  background-color:
   rgb(241,195,187);
  color: rgb(0, 0, 0);
}


/*colour for graphs
rgb(30,33,84)
rgb(62,42,101)
rgb(101,54,116)
rgb(130,68,121)
rgb(150,91,130)
rgb(169,115,139)
rgb(187,141,151)
rgb(205,166,167)
rgb(222,198,194)
rgb(237,227,221)

rgb(255, 255, 255)
rgb(237,227,221)
rgb(222,198,194)
rgb(205,166,167)
rgb(187,141,151)
rgb(169,115,139)
rgb(150,91,130)
rgb(130,68,121)
rgb(101,54,116)
rgb(62,42,101)
rgb(30,33,84)